<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body class="bg-slate-800 flex justify-center p-8">
    <div
      id="pre-game"
      class="rounded-sm p-6 border space-y-5 bg-white flex flex-col items-center"
    >
      <h1 class="text-xl font-semibold">
        Waiting for host to start the session...
      </h1>

      <div class="loader"></div>
    </div>

    <div
      id="game"
      class="rounded-sm hidden p-6 border space-y-5 bg-white flex-col items-center"
    >
      <h1 class="text-xl font-semibold">Make a bet</h1>

      <div
        class="relative w-96 h-10 cursor-pointer items-center flex rounded-sm border-2 border-slate-800 bg-slate-600"
        id="bet-selector"
      >
        <div class="h-full absolute bg-slate-800" id="bet-visual"></div>

        <div class="ml-auto mr-3 flex items-center z-10 text-white">
          <input class="z-10 h-fit w-10 bg-transparent" id="bet-value" />
          <p id="bet-max">/ {{ .StartingCash }}</p>
        </div>
      </div>

      <button class="bg-slate-900 text-white rounded-md p-2 w-96 mt-4" id="bet">
        Bet
      </button>
    </div>

    <script>
      const socket = new WebSocket(`/ws/game/{{ .GameID }}?name={{ .Name }}`);

      let cash = parseInt(`{{ .StartingCash }}`);

      const betMax = document.getElementById("bet-max");
      betMax.innerText = `/ ${cash}`;

      socket.onerror = (event) => {
        window.location.href = "/";
      };

      socket.onclose = (event) => {
        alert("Session has ended");
        window.location.href = "/";
      };

      socket.onmessage = (event) => {
        const data = JSON.parse(event.data);

        switch (data.type) {
          case "game-start":
            const game = document.getElementById("game");
            const preGame = document.getElementById("pre-game");

            game.classList.remove("hidden");
            game.classList.add("flex");
            preGame.classList.add("hidden");
            break;
          case "money-update":
            cash = cash + data.amount;
            document.getElementById("bet-max").innerText = `/ ${cash}`;
            betMax.innerText = `/ ${cash}`;
            break;
        }
      };

      const betSelector = document.getElementById("bet-selector");
      const betVisual = betSelector.querySelector("#bet-visual");
      const betValue = betSelector.querySelector("#bet-value");

      function updateBet(value) {
        betSelector.setAttribute("data-value", value);
        betSelector.querySelector("#bet-value").value = value;
        betVisual.style.width = `${(value / cash) * 100}%`;
      }

      betSelector.addEventListener("mousedown", (event) => {
        const rect = betSelector.getBoundingClientRect();
        const value = Math.round(
          ((event.clientX - rect.left) / rect.width) * cash
        );

        updateBet(value);
      });

      betSelector.addEventListener("mousemove", (event) => {
        if (event.buttons === 1) {
          const rect = betSelector.getBoundingClientRect();
          const value = Math.round(
            ((event.clientX - rect.left) / rect.width) * cash
          );

          updateBet(value);
        }
      });

      betValue.onchange = (event) => {
        const value = parseInt(event.target.value);

        if (value < 0) {
          updateBet(0);
        } else if (value > cash) {
          updateBet(cash);
        } else {
          updateBet(value);
        }
      };

      const betButton = document.getElementById("bet");

      betButton.onclick = () => {
        socket.send(
          JSON.stringify({
            type: "place-bet",
            bet: parseInt(betSelector.getAttribute("data-value")),
          })
        );
      };
    </script>
  </body>
</html>
