<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body class="bg-slate-800 grid place-items-center h-full">
    <!-- <form
      class="rounded-sm p-6 border space-y-5 bg-white"
      id="session-config"
      action="/api/new-session"
    >
      <h1 class="text-xl font-semibold">Session config</h1>

      <div class="flex flex-col w-96">
        <label for="cash-amount">Starting Cash</label>
        <input
          type="number"
          required
          min="0"
          max="10000"
          id="cash-amount"
          name="cash-amount"
          class="border rounded-md p-2 w-full"
          placeholder="Enter starting cash"
        />
      </div>

      <button
        type="submit"
        class="bg-slate-900 text-white rounded-md p-2 w-full mt-4"
        id="start"
      >
        Start
      </button>
    </form> -->

    <form
      class="rounded-md p-4 border gap-2 bg-white shadow h-36 w-80 grid grid-rows-2 absolute"
      id="id-check"
    >
      <input
        type="text"
        required
        name="cash-amount"
        class="border-2 border-slate-300 rounded-md w-full font-semibold text-center focus:outline-none focus:border-slate-400 transition-colors"
        placeholder="Enter starting cash"
      />

      <button
        type="submit"
        class="bg-slate-900 text-white rounded-md w-full font-bold"
      >
        Start
      </button>
    </form>

    <a href="/" class="text-white underline bottom-2 absolute">
      Join a session
    </a>
  </body>
</html>
