@tailwind base;
@tailwind components;
@tailwind utilities;

/* .loader {
  position: relative;
  width: 50px;
  height: 50px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(15, 23, 42, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 rgb(15 23 42) inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.loader {
  width: 128px;
  height: 16px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background-image: linear-gradient(
    45deg,
    rgb(15, 13, 42) 25%,
    transparent 25%,
    transparent 50%,
    rgb(15, 13, 42) 50%,
    rgb(15, 13, 42) 75%,
    transparent 75%,
    transparent
  );
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
